body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

input, textarea {
    padding: 8px;
    margin: 5px;
    width: 250px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
}
